h1 {
    color: orange !important;
}

body { 
    background-color: #222233;
    color: #AACCFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    -webkit-app-region: drag;
}

.mainWrapper {
    margin: 50px;
}